@{
    ViewData["Title"] = "Listagem de Produtos";
}
<div class="text-center">

    <h1 class="display-4">Listagem de Produtos</h1>
    <table class="table table-striped table-dark">
        <thead class="thead-dark">
            <tr>
                <th>Id do Produto</th>
                <th>Nome do Produto</th>
                <th>Valor Uni. do Produto</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in ViewBag.Lista)
        {
            <tr>
                <td style="padding: 0px;white-space: nowrap; ">@item.idProduto</td>
                <td style="padding: 0px;white-space: nowrap; ">@item.dscProduto</td>
                <td style="padding: 0px;white-space: nowrap; ">@item.vlrUnitario</td>
                <td style="padding: 0px;white-space: nowrap; ">
                    <div class="group" role="group">
                        <a href="Produtos/Editar/@item.idProduto" role="button" type="button" class="btn btn-warning">Editar</a>
                        <a href="Produtos/DeletarConfirmacao/@item.idProduto" role="button" type="button" class="btn btn-danger">Deletar</a>
                    </div>
                </td>
            </tr>
        }
    </table>
    <div class="d-grip gap-2 d-md-flex" style="justify-content: center;">
        <a asp-controller="Produtos" asp-action="Criar" role="button" type="button" class="btn btn-success">Adicionar Novo Produto</a>
    </div>
</div>