@{
    var clientes = ViewBag.Clientes;
}

@{
    ViewData["Title"] = "Confirmação Deletar Cliente";
}

<form asp-controller="Clientes" asp-action="Deleta" method="post">
    <div class="text-center">
        <h3> Você Deseja Deletar este Cliente?</h3>
    </div>
    <div hidden class="form-group" style="margin-top: 15px">
        <label hidden for="Cliente"><b>Id Cliente</b></label>
        <input hidden type="text" id="idCliente" name="idCliente" class="form-control" value="@clientes.idCliente">
    </div>
    <div class="d-grip gap-2 d-md-flex" style="margin-top: 15px;justify-content: center;">
        <button type="submit" class="btn btn-danger" role="button" style="width: 100%">Deletar</button>
        <a asp-controller="Clientes" asp-action="Index" class="btn btn-warning" style="width: 100%" role="button">Cancelar</a>
    </div>
</form>